.square {
    border: 1px solid khaki;
    min-height: 60px;
    /* min-width: 6%; */
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    /* max-width: 100%; */
    cursor: pointer;
    color: lavender;
    outline: none;
}