.ticTacToe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15% !important;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border: 1px solid khaki;
    background-color: rgb(49, 19, 53);
    outline: none;
    border-radius: 5px;
    box-shadow: none;
}

.mainDiv {
    color: black;
}

.afterWin {
    display: inline-block;
    position: absolute;
    top: 48%;
    left: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}